<!DOCTYPE html>
<html>
<head>
  <title>Connor Hale's Page</title>
</head>
<body>

  <h1>Hi, I'm Connor Hale!</h1>

  <p> I'm a Civil Engineering Masters Student planning to graduate later this year. <br>
  This site was created for CE 514 - Geospatial Software Dev in the Winter 2025 semester at BYU. <p>
  

  <img src="Screenshot 2025-01-14 075431.png" alt="A Picture of Me">

  <p> I enjoy spending time wqith my wife and daughter, and we're expecting another little girl to join us this month. <p>

  <p> Linkedin: https://www.linkedin.com/in/connor-hale-6987b81a1/ <p>

</body>
</html>